################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/image_processing/v14/.suo
/image_processing.sln
/image_processing.pyproj
